.w3-container{
    // margin-top: 75px;
    margin: 20px 20px 20px 20px;
    justify-content: space-around;
    // border: 1px solid black;
    width: 50%;
    height: 80%;
    // overflow: hidden;
    input{
        width: 100%;
    }
    
    table{
        th,tr,td{
            padding: 5px;
            border: 1px solid rgb(151, 151, 151);
            overflow-wrap: break-word;
            font-weight: bold;
        }
    }


}

