.app{}

.srchSelectBox{
    .css-b62m3t-container{
        .css-1nmdiq5-menu{
            display: contents;
        }
        
        .css-1n6sfyn-MenuList{
            width: 579px;
            background-color: rgb(255, 255, 255);
            max-height: 150px !important;
            border: 1px solid #4396fd;
        }   
    }
}